*.iml
.gradle
/local.properties
/app/release
/app/rc
.idea
.DS_Store
build
/captures
.externalNativeBuild
.cxx
app/src/release/google-services.json
app/src/release/res/values/secrets.xml
app/src/rc/google-services.json
app/src/rc/res/values/secrets.xml
