<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="akio.apps.myrun.feature.configuration.impl">
    <application>
        <activity
            android:name="akio.apps.myrun.feature.configuration.impl.ConfiguratorActivity"
            android:exported="false"
            />
    </application>
</manifest>
